numpy
pandas
matplotlib
scikit-learn
seaborn 
torch
torchvision
tqdm
visdom
setproctitle

## torchvision cudatoolkit=10.0 -c Pytorch Tamim: for cuda environment
## opencv2 installation code: conda install py-opencv
## cuda tools cudatoolkit=10.0 -c Pytorch NB: cudatoolkit is for CUDA 10

## pip install -r Requirements.txt
## torch.cuda.memory_summary(device=None, abbreviated=False)
#  python -c "import torch; print(import torch; print(torch.__version__)"
#  Use this code to clear your memory: python import torch torch.cuda.empty_cache())
## nvidia-smi  ## Tamim: for cuda summary
##conda config --add channels conda-forge
## conda install imgaug
